/* .divGeneral {
    margin: auto;
    margin-top: 250px;
    width: 100px;
    height: 99.9px;
    outline: auto;
    border-radius: 100%;
    background-color: grey;
} */
.divGeneral {
    outline: auto;
    margin: 10px auto 0 auto;
}

.divUp {
    width: 100px;
    height: 33px;
    margin: auto;
    /* outline: auto; */
    display: flex;
}

.arrowup {
    border-radius: 10px 10px 0 0;
    width: 33px; /*1/3 del width del padre*/ 
    height: 33px; /*1/3 del width del padre*/ 
    /* outline: auto; */
    margin: auto auto 0 auto;
    background-color: silver;

}





.divLR {
    width: 100px; 
    height: 33px;
    margin: auto;
    /* outline: auto; */
    display: flex;
}

.arrowLeft {
    border-radius: 10px 0 0 10px;
    width: 33px; /*1/3 del width del padre*/
    height: 33px; /*1/3 del width del padre*/
    /* outline: auto; */
    background-color: silver;
}

.arrowCenter {
    margin: -0.2px;
    width: 34px; /*1/3 del width del padre*/
    height: 34px; /*1/3 del width del padre*/
    /* outline: auto; */
    background-color: silver;
}
.arrowRight {
    border-radius: 0 10px 10px 0;
    width: 33px; /*1/3 del width del padre*/
    height: 33px; /*1/3 del width del padre*/
    /* outline: auto; */
    background-color: silver;
}




.divDown {
    width: 100px;
    height: 33px;
    margin: auto;
    /* outline: auto; */
    display: flex;
}

.arrowDown {
    border-radius: 0 0 10px 10px;
    width: 33px; /*1/3 del width del padre*/
    height: 33px; 
    /* outline: auto; */
    margin: 0 auto auto auto;
    background-color: silver;
}