html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
}


.general {
    display: flex;
    /* outline: auto; */
    /* width: 800px;
    height: 300px; */
    /* padding: 0 200px 0 200px; */
    /* overflow: visible; */
    margin: auto;


}

.momentaneo {
    position: relative;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    margin: 10px 0 10px 0;
    /* border: 3px solid rgb(97, 97, 239); */
    transform: scaleX(1.1);
    /* overflow: visible; */
    background-color: rgb(97, 97, 239);
    border-top: 10px ridge rgb(97, 97, 239);
    border-bottom: 5px ridge rgb(97, 97, 239);
}

.sobrePantallaNintendo {
    border: 1px;
    border-radius: 10px;
    margin: auto;
    width: 50px;
    height: 13px;
    border: 2px ridge rgb(48, 48, 151);
}

.sobrePantallaNintendo p {
    letter-spacing: .2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    font-size: 10px;
    text-align: center;
    color: rgb(33, 33, 109);
    font-style: oblique;
}

.pantalla {
    display: flex;
    flex-direction: column;
    border-radius: 17%;
    width: 240px;
    height: 220px;
    margin: auto auto 30px auto;
    /* outline: auto; */
    background-color: rgb(82, 82, 82);
    border: 2px groove grey;
}




/* APARTADO DE PANTALLA LED Y SU TEXTO DE DENTRO */
.pantalla-led {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 140px;
    /* outline: auto; */
    border: 2px ridge rgb(46, 46, 46);
    margin: 20px auto 20px auto;
    background-image: linear-gradient(rgb(40, 101, 234), white);
}




.textoGameboyInsideLed {
    display: flex;
    width: 160px;
    height: 40px;
    margin: auto;
    /* border: 1px solid black; */
}

.textoGameboyInsideLed p {
    display: inline-block;
    letter-spacing: -1px;
    font-style: italic;
    font-size: 30px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: -webkit-linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.textoNintendoInsideLed {
    display: flex;
    width: 100px;
    height: 20px;
    margin: -20px auto auto auto;
    /* border: 1px solid blue; */
}

.textoNintendoInsideLed p {
    letter-spacing: -2px;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 20px;
    text-align: center;
    color: rgb(33, 33, 109);
}



/* FIN DE APARTADO PANTALLA LED */


.gameboyDiv {
    margin: auto auto 20px auto;
    width: 200px;
    height: 20px;
    /* border: 2px groove grey; */
    text-align: center;
    color: aliceblue;
}


.textoGameboy {
    display: inline-block;
    letter-spacing: -1px;
    font-style: italic;
    font-size: 15px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textoAdvance {
    display: inline-block;
    font-size: 12px;
    margin: auto;
    letter-spacing: -1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* #########PARTE IZQUIERDA DE LA CONSOLA CON SUS RESPECTIVAS BOTONERAS#########  */


.left {
    display: flex;
    flex-direction: column;
    transform: rotate(2deg);
    width: 100px;
    height: 250px;
    /* outline: auto; */
    margin-top: 20px;
    background-color: rgb(97, 97, 239);
    border-radius: 55% 0 0 47%;
    border-top: 10px ridge silver;
    border-left: 3px ridge rgb(97, 97, 239);
    border-bottom: 3px ridge rgb(97, 97, 239);
}


.cruceta {
    transform: rotate(-2deg) scale(0.7);
    display: flex;
    /* outline: auto; */
    margin: 70px 21px 20px auto;
    width: 75px;
    height: 75px;
}



.startButton {
    transform: rotate(3deg) scale(.8);
    width: 40px;
    height: 10px;
    /* outline: auto; */
    border-radius: 35%;
    margin: 10px 16px auto auto;
    border: 2px ridge rgb(64, 64, 163);
}


.startButton p {
    margin: auto;
    text-align: center;
    font-size: 10px;
    color: rgb(64, 64, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.selectButton {
    transform: rotate(3deg) scale(.8);
    width: 40px;
    height: 10px;
    /* outline: auto; */
    border-radius: 35%;
    margin: 10px 16px auto auto;
    border: 2px ridge rgb(64, 64, 163);
}

.selectButton p {
    margin: auto;
    text-align: center;
    font-size: 10px;
    color: rgb(64, 64, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/* #########PARTE DERECHA DE LA CONSOLA CON SUS RESPECTIVAS BOTONERAS#########  */


.right {
    z-index: -1;
    transform: rotate(-2deg);
    /* margin: 25px auto 0 0; */
    float: right;
    width: 99px;
    height: 250px;
    /* outline: auto; */
    margin-top: 20px;
    background-color: rgb(97, 97, 239);
    border-radius: 0 55% 47% 0;
    border-top: 10px ridge silver;
    border-right: 2px ridge rgb(97, 97, 239);
    border-bottom: 2px ridge rgb(97, 97, 239);
}